<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <div class=" fa-6x">
      <i class="fa fa-duotone fa-money-bill-wheat  fa-spin "  style="--fa-animation-duration: 30s; --fa-animation-iteration-count: 1;"></i>
    </div>
    
    
    <h1 class="display-3">Resources</h1>
    <p class="lead">Join hundreds of users sharing & discovering quality resources that matter!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-outline-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
